---
import Layout from '@layouts/Neovim.astro';
import {basics} from '@cv';

const {email: rawEmail, profiles} = basics;

const emailBody = rawEmail.split('@')[0];
const emailDomain = rawEmail.split('@')[1].split('.')[0];
const emailExtension = rawEmail.split('@')[1].split('.')[1];

const parsedProfiles = profiles.map(({url}) => {
  const rawUrl = url;
  
  if (url.includes('https://')) {
    url = url.split('https://')[1];
  }
  
  if (url.includes('www.')) {
    url = url.split('www.')[1];
  }
  
  const domain = url.split('.')[0];
  const extension = url.split('.')[1].split('/')[0];
  const params: Array<string> = url.split('.')[1].split('/').slice(1);
  
  return {url: rawUrl, domain, extension, params};
});
---

<Layout title="Contact">
  <div class="flex flex-col items-center justify-center h-full">
    <h1 class="text-4xl font-bold mb-2 text-nvim-blue">Get in touch!</h1>
    <div class="text-center">
      <p class="text-sm mb-4">version 0.0.1</p>
      <p class="mb-3">I would like to meet you too, please use the contact information below:</p>
      
      <!-- Email render -->
      <a href={`mailto:${rawEmail}`}>
        {emailBody}<span class='symbol'>[at]</span>{emailDomain}<span class='symbol'>[dot]</span>{emailExtension}
      </a>
      
      <!-- Contacts render -->
      {parsedProfiles && parsedProfiles.map(({ url, domain, extension, params }) => (
        <a href={url}>
          {domain}<span class='symbol'>[dot]</span>{extension}<span class='symbol'>[slash]</span>{
            params.map((param, index) => (
              <span>{param}{index < params.length - 1 ? <span class='symbol'>[slash]</span> : ''}</span>
            ))
          }
        </a>
      ))}
    </div>
  </div>
</Layout>

<style>
  a {
    @apply mb-2 block decoration-dotted hover:underline hover:text-nvim-green;
  }
  a span.symbol {
    @apply group-hover:text-skin-muted text-nvim-blue font-semibold;
  }
</style>